div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20em;
    margin: 0 auto;

    font-size: 15px;
}

select {
    text-transform: uppercase;
}

table {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}